.projectsBlock {
    height: 100vh;
    background-color: wheat;
    width: 100%;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.projectsContainer{
    justify-content: flex-start;
    flex-direction: column;
}

@media (max-width: 425px) {
    .projectsBlock {
        height: 100%;
    }
    .projectsContainer {
        flex-wrap: nowrap;
    }

}