.projectsBlock {
  min-height: 100vh;
  background-color: #111;
  width: 100%;
  @media (max-width: 1162px) {
    height: 100%;
    padding-bottom: 60px;
  }


  .projectsContainer {
    justify-content: flex-start;
    flex-direction: column;
    @media (max-width: 425px) {
      flex-wrap: nowrap;
    }

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: flex-start;

    }

  }
}

//.moduleLine {
//  background: #4e93e6;
//  width: 55px;
//  height: 1px;
//  margin: 30px auto;
//}


