.contactForm {
    height: 100vh;
    width: 100%;
    background-color: #1f1f20;
}
form input, form textarea {
    width: 100%;
}

input {
    /*width: 10rem;*/
    background-color: wheat;
    margin-top: 30px;

}
textarea {
    background-color: #99d0fb;
    margin-top: 30px;
}

form {
    width: 40%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.contactFormContainer {
    justify-content: space-around;
    flex-direction: column;
}
