.contactForm {
    width: 100%;
    background-color: #1f1f20;
    padding: 100px 0;
}

form input, form textarea {
    width: 100%;
    outline: 1px solid transparent;
}

input {
    padding: 12px 15px;
    width: 100%;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    border: none;
    border-radius: 5px;
    background-color: white;
    margin-top: 15px;

}

textarea {
    padding: 11px 15px 13px 14px;
    resize: none;
    max-height: 159px;
    margin-top: 15px;
    margin-bottom: 14px;
    width: 100%;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    border: none;
    border-radius: 5px;
    background-color: white;
}

form {
    width: 40%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.contactFormContainer {
    justify-content: space-around;
    flex-direction: column;
}

/*.contactForm button {*/
/*    width: 20%;*/
/*    padding: 10px 28px 14px;*/
/*    border-radius: 5px;*/
/*    align-content: center;*/
/*}*/

@media (max-width: 1235px) {
    form {

    }

    /*.contactForm button {*/
    /*    width: 30%;*/
    /*}*/
}

@media (max-width: 1024px) {
    form {
        width: 60%;
    }

    /*.contactForm button {*/
    /*    width: 40%;*/
    /*}*/
}

@media (max-width: 600px) {
    form {
        width: 80%;
    }

    /*.contactForm button {*/
    /*    width: 40%;*/
    /*}*/
}

@media (max-width: 375px) {
    form {
        width: 100%;
    }

    /*.contactForm button {*/
    /*    width: 100%;*/
    /*}*/
}