.mainBlock {
    height: 100vh;
    background-color: greenyellow;
}

.text {
    width: 300px;
    background-color: darkred;
}
.photo {
    width: 300px;
    height: 400px;
    background-color: black;
}
